@model mvc.Models.DTO.UserDto

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login"> 
    <!-- Username input -->
    <div class="form-outline mb-4">
        <input type="text" asp-for="Username" id="loginUsername" class="form-control" />
        <label class="form-label" asp-for="Username">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" asp-for="Password" id="loginPassword" class="form-control" />
        <label class="form-label" asp-for="Password">Password</label>
    </div>
    <div class="help-block text-danger" asp-validation-summary="All"></div>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" value="Login" class="btn btn-primary btn-block mb-4">Login</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="/Auth/Register">Register</a></p>
    </div>
</form>