@model mvc.Models.DTO.FileUpload

@{
    ViewData["Title"]="Upload";
}

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FormFile" type="file">
            <span asp-validation-for="FormFile"></span>
        </dd>
    </dl>
    <div asp-validation-summary="All"></div>
    <input asp-action="Upload" class="btn" type="submit" value="Upload" />
</form>
