@model mvc.Models.DTO.EventScheduleDto
<!-- Modal -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<div class="modal fade" id="CreateEventSchedule" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateModalLabel">CreateType</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form" asp-action="CreateEventSchedule">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="EventGuid" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Start" class="col-form-label"></label>
                        <input asp-for="Start" type="date" class="form-control" />
                        <span asp-validation-for="Start" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="End" class="col-form-label"></label>
                        <input asp-for="End" type="date" class="form-control" />
                        <span asp-validation-for="End" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <a id="DateValidation" class="text-danger"></a>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function(){      //Add this line (and it's closing line)
        $("input[type=date]")
        .datepicker({ format: 'dd-mm-yyyy', changeYear: true, yearRange: "-10:+10" })
        .attr("type", "text");
    });
    $(function() {
        var formValidation = false;
        function setValidation(c) {
            formValidation = c;
            console.log('setValidation', formValidation)
        }
        $('form').submit( function(e) {
            //window.location.origin +
            var target = "/Event/isScheduleModelValid"
            var dat = $('#form').serialize();
            $.ajax({
                async : false,
                url    : target,
                type    : 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data    : dat,       
                success :  function( result ) {
                            if(result.DateRangeError!=undefined){
                                $('#DateValidation').text(result.DateRangeError.errors[0].errorMessage);
                                setValidation(false);
                            }else{
                                $('#DateValidation').text('');
                                setValidation(true);
                            }
                        },
                error   :  function(result){
                        setValidation(false);
                        } 
            });
            if(!formValidation){
                console.log(formValidation)
                return false;
            }
        });
    });
    @* document.getElementById('datePicker').valueAsDate = new Date(); *@
</script>