@model mvc.Models.Event.Event
@foreach(var item in ViewBag.Types){
    Console.WriteLine(item.Guid);
}
@{
    List<SelectListItem> list = new SelectList(ViewBag.Types, "Guid", "Name").ToList();
}
<!-- Modal -->
<div class="modal fade" id="CreateEvent" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateModalLabel">CreateEvent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=""></div>
                <form asp-action="CreateEvent">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="col-form-label">Type</label>
                        @* <select asp-items="@ViewBag.Types" class="form-select"></select> *@
                        <select asp-for="Type" class="form-control" asp-items="list">
                            @*@foreach(var item in ViewBag.Types){
                                <option asp-for="Model.Type">@item.Name</option>
                                <a>@item.Guid</a>
                            }*@
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    
    $(function () {
    
    // Start counting from the third row
    var counter = 0;
    $(".datepicker").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true,
    });

    $("#insertRow").on("click", function (event) {
        event.preventDefault();

        var newRow = $("<tr>");
        var cols = '';

        // Table columns
        cols += '<th scrope="row">' + counter + '</th>';
        cols += '<td><input class="datepicker" type="date" for></td>';
        cols += '<td><input class="form-control rounded-0" type="text" name="lastname" placeholder="Last name"></td>';
        cols += '<td><input class="form-control rounded-0" type="text" name="handle" placeholder="Handle"></td>';
        cols += '<td><button class="btn btn-danger" id ="deleteRow">delete</button</td>';

        // Insert the columns inside a row
        newRow.append(cols);

        // Insert the row inside a table
        $(".schedules").append(newRow);

        // Increase counter after each row insertion
        counter++;
    });

    // Remove row when delete btn is clicked
    $(".schedules").on("click", "#deleteRow", function (event) {
        $(this).closest("tr").remove();
        counter -= 1
    });
});
</script>